.home__hero-section {
  padding: 100px 0;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 3rem;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #1c1a1a;
}

.light {
  color: #ffffff;
}

.darkBg {
  background-color: #1c2237;
}

.greenBg {
  background-color: #008a51;
}

.redBg {
  background-color: #ff5e3a;
}

.yellowBg {
  background-color: #ffcc00;
}

.aquaBg {
  background-color: #24b7ab;
}

.home__hero-subtitle {
  color: #ffffff;
  max-width: 500px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  max-width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}